*{
  font-family: "Rubik",sans-serif;
  color: #393c41;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  overflow-x: hidden;
}

@keyframes hop{
  0%, 100%{
    transform: translateY(0px);

  }
  50%{
    transform: translateY(5px);
  }
}